.itemContainer{
    margin: 5% 0 0 0;
    padding: 5%;
    border-radius: 20px;
    list-style: none;
}
.itemTitle{
    font-weight: 600;
    font-size: 20px;
    color: rgb(43, 43, 43);
}
.itemText{
    font-weight: 400;
    font-size: 14px;
    color: rgb(56, 56, 56);
}
.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.itemButton{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 0 0 20px;
    background: #000;
    color: #fff;
    border: none;
    transition: all 0.5s;
}
.itemButton:hover{
    opacity: 80%;
}
.itemButton:focus{
    background: #fff;
    color: #000;
}